.card-deck{
    margin-bottom: 2em;
}
a{
    /* disable default styles */
    text-decoration: none !important;
    color: inherit !important;
}
footer{
    background-color: grey;
    align-self: baseline;
    /* attach the footer to the end of the page */
    bottom: 0;
    /* width same width and height */
    width: 100%;
    height:  auto;
    padding: 15px;
}
.card-img-top{
    height: 350px;
}